# Config for rofi-wifi-menu

# position values:
# 1 2 3
# 8 0 4
# 7 6 5
POSITION=3

#y-offset
YOFF=17

#x-offset
XOFF=0

#fields to be displayed
FIELDS=SSID,SECURITY,BARS

#font
FONT="DejaVu Sans Mono 8"
